
.brand img {
	width: 100%;
}
.carousel-wrapper{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.carousel .image{
	width: 100%;
	height: 100%;
}
.carousel-wrapper ul{
	overflow: hidden;
	min-height: 50%;
	display: inline;

	
}
.down-point{
	position: absolute;
	top:80%;
	z-index: 5;

}
.item{
	-webkit-transition:all 2s ease-in-out;
	position: relative;
}
.item-display{
	display: inline;
	-webkit-transition:all 2s;
}
.item-hidden{
	display: none;
	-webkit-transition:all 2s;
}
.carousel-wrapper ul li{
	
	float: left;
	
}
.carousel-wrapper .content {
	position: absolute;
	z-index: 1;
	top: -30%;
}
.arrow-link{
	width: 100%;
	position: absolute;
	top: 20%;
	bottom:40%;
}
.arrow-link .next{
	float: right;
}
.arrow-link .prev{
	float: left;
}
.arrow-link .next,.arrow-link .prev{
	position: relative;
	top:50%;
}
.image img{
	width: 100%;
	z-index: 0;
}
.prop-item{
	float: left;
}
.detail-item li{
	float: left;
	width: 25%;
}
@media(min-width:764px){

	header{
		background: #000000;
		width:100%;

	}
	.navigation{
		background: #434446;
		min-height:30px; 
	}
	.navigation .menu li{
		margin-left: 5%;
		float: left;
	}
	.header img{
		width: 100%;

	}
	.nav-button{
		display: none;
	}
	.fa .fa-bars{
		color: #ffffff;
		font-size: 25px;
	}
	.brand{
		width: 30%;
		margin-left:10%;
	}
	.prop-item{
		
		width: 25%;
	}
}
@media(max-width:764px){

	header{
		background: #000000;
		width:100%;

	}
	.navigation{
		background: #434446;
		min-height:30px;
		display: none; 
		-webkit-transition:all 1s;
	}
	.navigation .menu li{
		margin-left: 5%;
		float: none;
		display: none;
	}
	.header img{
		width: 100%;

	}
	.nav-button{
		display: block;
		vertical-align: middle;
	}
	.fa .fa-bars{
		color: #ffffff;
		font-size: 25px;
	}
	
	.brand{
		width: 50%;
		margin-left:10%;
	}
	.prop-item{
		
		width: 50%;
	}
	
}

@media(max-width: 609px){
	.prop-item{
		width: 100%;
	}
}



